.layout-link {
  float: left; 
  padding: 1em;
  width: 125px;
  height: 160px;
}

.layout-link img {
  margin-left: auto;
  margin-right: auto;
}

/* general style for the layout-icon */

.layout-icon .caption {
  width: 90px;
  margin-bottom: 1em;
}

/* styles for the basic panel-%implementation% edit page */
.layout-container {
  float: right;
  padding: 0 0 0 1em;
  margin: 0;
  width: 49%;
}

.info-container {
  padding-right: 1em;
  width: 49%;
}

.layout-container fieldset {
  margin-top: 0;
  width: 98%;
}

.layout-container .form-item {
  margin: 0;
}

.layout-container .form-submit {
  margin-top: 1em;
}

.layout-container .layout-icon {
  float: right;
  margin-left: .5em;
}

.content-list ol {
  padding-left: 0;
  list-style-position: inside;
}

.content-list dt {
  font-weight: bold;
}

.content-list dd {
  margin-left: 2em;
}

/* styles for the choose layout page */
#panels-choose-layout .form-radios .form-item {
  float: left;
  margin-right: .5em;
}

#panels-choose-layout .form-radios .form-item .layout-icon {
  float: none;
  height: 15em;
}

#panels-choose-layout .form-radios .form-item .option {
  width: 50px;
  display: block;
  text-align: center; 
}

#panels-choose-layout .form-submit {
  clear: left;
}

#panels-choose-layout .panels-layout-list label {
  width: 300px;
  float: left;
  clear: left;
  background: url(../images/go-right.png) right no-repeat;
  margin-right: 20px;
}

.change-layout-display .layout-icon {
  float: left;
}

.change-layout-display > img {
  padding: 25px 25px 25px 0;
  float: left;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

table .argument-operation {
  text-align: right;
  padding-right: 6px;
}

table .argument-operation input {
  padding: 0;
  margin: 0;
  position: relative;
  top: 3px;
}

  