/* $Id: onecol.css,v 1.1.2.2 2007/08/24 02:49:06 merlinofchaos Exp $ */

.panel-1col { 
  overflow: hidden; 
}

.panel-2col .panel-col-first .inside { 
  margin: 0;
}


.panel-1col .panel-col { 
  float: left; 
  width: 100%; 
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-2col .panel-separator {
  margin: 0 0 1em 0;
}
