/* $Id: twocol_stacked.css,v 1.3 2006/07/24 23:56:08 merlinofchaos Exp $ */

.panel-2col-stacked { 
  /* border: 1px solid red; */ 
  overflow: hidden; 
}

.panel-2col-stacked div div { 
  margin: .5em;
}

.panel-2col-stacked .panel-col-top,
.panel-2col-stacked .panel-col-bottom { 
  width: 100%; 
  clear: both;
}
.panel-2col-stacked .panel-col-first { 
  float: left; 
  width: 50%; 
}
.panel-2col-stacked .panel-col-last { 
  float: left; 
  width: 50%; 
}
